@page

@using System.Collections
@using Abp.Application.Services.Dto
@using Abp.UI
@using Abp.Web.Security.AntiForgery
@using Library.BookManage
@using Library.BookManage.Dto
@using Library.Sessions
@using Library.Web.Startup
@using Microsoft.AspNetCore.Mvc;
@using System.Collections.Generic
@using System.Threading.Tasks
@using Abp.Application.Services.Dto
@using Abp.Runtime.Validation
@using Abp.UI
@using Abp.Web.Security.AntiForgery
@using Library.BookManage
@using Library.BookManage.Dto
@using Library.Sessions
@using Library.Web.Startup
@using Microsoft.AspNetCore.Mvc

@inject ISessionAppService SessionAppService
@inject IBookAppService BookAppService

@{
    ViewBag.CurrentPageName = PageNames.BookManage;
}

@functions
{

    public ICollection<string> List2 { get; set; }
    public string SubmitError { get; set; }

    public async Task OnPostAsync(string title, string description)
    {
        try
        {
            await BookAppService.Create(new BookDto()
            {
                Title = title,
                Description = description
            });
        }
        catch (AbpValidationException e)
        {
            SubmitError = e.Message;
        }
    }

}

<h1>Hello World!</h1>

<h2>Get Data From Application Layer:</h2>
@{ var currentInfo = await Model.SessionAppService.GetCurrentLoginInformations(); }
<p><h3>User Name:</h3> @currentInfo.User.Name</p>

<h2>Current Books:</h2>
@{
    var books = await Model.BookAppService.GetAll(new PagedAndSortedResultRequestDto());
}
<ul>
    @foreach (var item in books.Items)
    {
        <li>
            <h4>@item.Title</h4>
            <p>@item.Description</p>
        </li>
    }
</ul>

<h2>Add Books:</h2>
@if (Model.SubmitError != null)
{
    <label class="alert alert-danger">@Model.SubmitError</label>
}
<form method="POST">
    <label>Title: </label>
    <input type="text" name="title" /> <br/>
    <label>Description: </label>
    <input type="text" name="description"/> <br/>
    <input type="submit"/>
    @Html.AntiForgeryToken()
</form>