@page

@using Abp.Application.Services.Dto
@using Library.BookManage
@using Library.BookManage.Dto
@using Library.Sessions
@using Library.Web.Startup

@inject ISessionAppService SessionAppService
@inject IBookAppService BookAppService

@{
    ViewBag.CurrentPageName = PageNames.BookManage;
}

@functions
{

    public async Task<IActionResult> OnPostAsync(long bookId, string title, string description, string author, string publish, string isbn)
    {
        var dto = new BookDto()
        {
            Title = title,
            Description = description,
            Isbn = isbn,
            Publish = publish,
            Author = author
        };

        if (bookId == 0)
        {
            await BookAppService.Create(dto);
        }
        else
        {
            dto.Id = bookId;
            await BookAppService.Update(dto);
        }

        return new RedirectToRouteResult(null);
    }
}

@section scripts
{
    <script src="~/view-resources/Pages/BookManage/Index.js" asp-append-version="true"></script>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Book Manage
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publish</th>
                            <th>ISBN</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var res = await Model.BookAppService.GetAll(new PagedAndSortedResultRequestDto());
                        }
                        @foreach (var item in res.Items)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Author</td>
                                <td>@item.Publish</td>
                                <td>@item.Isbn</td>
                                <td>@item.Description</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-book" data-toggle="modal" data-target="#BookModal" data-book-id="@item.Id"><i class="material-icons">edit</i>Edit</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-book" data-book-id="@item.Id" data-book-title="@item.Title"><i class="material-icons">delete_sweep</i>Delete</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right edit-book" data-book-id="0" data-toggle="modal" data-target="#BookModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="BookModal" tabindex="-1" role="dialog" aria-labelledby="BookCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
