@page

@using Abp.Application.Services.Dto
@using Abp.Notifications;
@using Library.Web.Startup;
@using Library.LibraryService.Dto;
@using Library.LibraryService;
@using Library.Web.Startup;
@using Library.LibraryService


@using Library.BookManage
@using Library.BookManage.Dto
@using Library.Sessions
@using Library.Authorization.Accounts


@inject ILibraryAppService LibraryAppService
@inject ILibraryManageAppService LibraryManageAppService
@inject IBookAppService BookAppService
@inject IAccountAppService AccountAppService
@{
    ViewBag.CurrentPageName = PageNames.PersonnalInformation;
}

@section scripts
{
    <script src="~/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="~/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
    
    <script>
        $(function() {
            $('#file-upload').fileupload({
                dataType: 'json',
                add: function(e, data) {
                    $('#upload-status').text('Uploading...');
                    data.submit();
                },
                done: function(e, data) {
                    var id = data._response.result.result[0].id;
                    $('#upload-status').text('');
                    abp.services.app.library.setUserPhoto({
                        photoId: id
                    });
                    $('#user-photo').attr('src', '/Uploads/GetFile?id=' + id);
                }
            });

            $("#table1").DataTable({
                responsive: true,
                columns: [
                    null,
                    null,
                    null,
                    null
                ]
            });

            $("#table2").DataTable({
                responsive: true,
                columns: [
                    null,
                    null,
                    null,
                    null,
                    null
                ]
            });
        })
    </script>
}

@section styles 
{
    <link href="~/lib/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet"/>
}
<style>
    #content {
        width: 300px;
        height: 300px;
        border: 10px solid #ccc;
       
        background: #f1f1f1;
        position: relative;
    }
    #user-photo {
        width: 280px;
        height: 280px;
        top: 0;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

            <div class="header">
                <h2>
                    Personal Information
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body table-responsive">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        <div class="col-lg-9 col-md-5 col-sm-8 col-xs-9">
                            <table class="table" border="1" bordercolor="#ccc" style="width:100%;height:100%">
                                @{
                                    var user = await AccountAppService.GetUserInformation(); //获取用户信息
                                    var userPhoto = await LibraryAppService.GetUserPhoto(new GetUserPhotoInput
                                    {
                                        UserId = null
                                    });
                                }
                                <tbody>
                                    <tr>
                                        <th scope="row">UserName</th>
                                        <td>@user.UserName</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Name</th>
                                        <td>@user.Name</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Surname</th>
                                        <td>@user.Surname</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">EmailAddress</th>
                                        <td>@user.EmailAddress</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            @if (userPhoto.PhotoId.HasValue)
                            {
                                <div id="content">
                                    <img id="user-photo" src="/Uploads/GetFile?id=@userPhoto.PhotoId.Value" />
                                </div>
                            }
                            else
                            {
                                <img id="user-photo" src="~/images/user.png" />
                            }
                            <form name="form1">
                                <br /><!---->
                                <input type="file" id="file-upload" data-url="/Uploads/UploadFiles" name="photo_path" style="display:none;" onChange="document.form1.photo_path.value=this.value" />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col-xs-11">
                                    <center>

                                        <input id="upload_button" class="btn btn-block bg-blue waves-effect" type="button" value="Upload Your Photo" onclick="document.form1.photo_path.click()">
                                    </center>
                                </div>
                        <span id="upload-status"></span>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Borrowed Current
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


            <div class="body table-responsive">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Isbn</th>
                            <th>Date To Return</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            var res = await LibraryAppService.GetUserBook(); //获取当前用户借书情况（所有未还的图书）
                        }
                        @foreach (var item in res.Items)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Author</td>
                                <td>@item.Isbn</td>
                                <td>@item.BorrowTimeLimit</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div> 



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Borrow  History
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table" id="table2">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Isbn</th>
                            <th>Returned Date / Should Return Date</th>
                            <th>Returned</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @{
                            var res1 = await LibraryAppService.GetBorrowRecords(); //获取借阅记录，包含当前正在借的和已经还了的所有图书
                        }
                       
                        @foreach (var item in res1.Items)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Author</td>
                                <td>@item.Isbn</td>
                                <td>@item.Time</td>
                                <td>@item.Returned</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
