@using Library.Web.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel
<div class="user-info">
    <div class="image">
        <img src="@Url.Content(Model.UserPhotoSrc)" width="48" height="48" alt="User" />
    </div>
    <div class="info-container">
        @if (Model.LoginInformations.User != null)
        {
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.Raw(Model.GetShownLoginName())</div>
            <div class="email">@Model.LoginInformations.User.EmailAddress</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="@Url.Action("Logout", "Account")"><i class="material-icons">input</i>@L("Logout")</a></li>
                </ul>
            </div>
        }
        else
        {
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guest</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="@Url.Action("Login", "Account")"><i class="material-icons">forward</i>Login</a></li>
                    <li><a href="@Url.Action("Register", "Account")"><i class="material-icons">create</i>Register</a></li>
                </ul>
            </div>
            
        }
    </div>
</div>